@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <h3>@ViewData["Autor"]</h3>
    <h4>
        Address: @ViewData["Address1"]<br />
        @ViewData["Address2"] - @ViewData["Address3"]<br />
    </h4>
    <h4>
        Phone: @ViewData["Phone"]
    </h4>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dnishiama@outlook.com">@ViewData["Email"]</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
